<h1>Log in</h1>

<%= form_for @user, url: login_path, method: :post do |f| %>
<p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
</p>
<p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
</p>
<%= f.submit "Log in" %></p>
<% end %>

<% flash.each do |name, msg| %>
<%= msg %>
<% end %>