<h1>Edit User</h1>

<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :email %>
<%= f.text_field :email %>
<%= f.label :party %>
<%= f.text_field :party %>
<%= f.label :district %>
<%= f.text_field :district %>
<!-- creat a dropdown for district -->
<%= f.submit %>
<% end %>