<h1>Be Heard!</h1> <br>

<%= form_for @post do |f| %>
<ul>
    <li><%= f.label :title %></li>
    <%= f.text_field :title %><br>
    <li><%= f.label :thought %></li>
    <%= f.text_area :thought %><br>

</ul>
<%= f.submit %>
<% end %>